body {margin-left: 50px;}
a {color:black;} 
h2 {margin-left: 20px;}
h3 {margin-left: 40px;}
h4 {margin-left: 50px;}
p {margin-left: 60px;}
img {margin-left: 80px;}
span {color:rgb(133, 131, 131); margin-left: 30px;}
.left_ {margin-left: 80px;}
.left_90 {margin-left: 90px;}
.left_110 {margin-left: 110px;}
.colorPur {color: #8041D9;}
.container {
    width: 200px;
    padding: 20px;
    border-radius: 4px;
}
button {
    width:230px;
    padding: 10px 20px;
    background-color: #04525c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #03a7bd;
}